body {
    /* background-color: black; */
    /* color: green; */
}

.LOpen, .LClose {
    color : gray;
}

.LExpr > .LOpen:hover, .LExpr > .LOpen:hover ~ .LClose {
    color: black;
    background-color: yellow;
    transition: all 0.25s;
}

span.LKwd {
    font-weight: bold;
}

.HKeyword {
    font-weight: bold;
}

.HModuleName {
    font-style: italic;
}

.HTyCon {
    color: darkblue;
}

.HTyVar {
    font-style: italic;
    color: purple;
}

.HCon {
    color: darkred;
}

.HVar {
    font-style: italic;
}

.TODO {
    color: red;
    font-family: monospace;
}
