body {
    /* background-color: black; */
    /* color: green; */
}

.LOpen, .LClose {
    color : gray;
}

.LExpr > .LOpen:hover, .LExpr > .LOpen:hover ~ .LClose {
    color: black;
    background-color: yellow;
    transition: all 0.25s;
}

span.LKwd {
    font-weight: bold;
}
